<!DOCTYPE HTML>
<html>
	<head>
		<title>Darts Data Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	</head>
	<body>
	<div class="headline">
		<h1 class="primary-headline">Welcome to the Darts Dashboard</h1>
		<div class="wrapper">
			<div class="row-items">
				<div>
					<h3>Most Seasoned Vet</h3>
					<div class="player-tag">
						<img class="player-img" src="/static/img/players/Erik.jpg" alt="Erik">
					</div>
				</div>
				<div>
					<h3>Most Likely To Win</h3>
					<div class="player-tag">
						<img class="player-img" src="/static/img/players/Erik.jpg" alt="Erik">
					</div>
				</div>
				<div>
					<h3>Most Likely To Hit The Bulls Eye</h3>
					<div class="player-tag">
						<img class="player-img" src="/static/img/players/Erik.jpg" alt="Erik">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="item">
			<h2>Most Wins</h2>
		</div>
		<div class="item">
			<div id="most_wins_chart"></div>
		</div>
		<div class="item">
			<h2>Winning Percenage</h2>
		</div>
		<div class="item">
			<div id="win_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Most Bulls Hit</h2>
		</div>
		<div class="item">
			<div id="most_bulls_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Bulls Hit</h2>
		</div>
		<div class="item">
			<div id="bull_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Twenties Hit</h2>
		</div>
		<div class="item">
			<div id="twenty_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Nineteens Hit</h2>
		</div>
		<div class="item">
			<div id="ninteen_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Eighteens Hit</h2>
		</div>
		<div class="item">
			<div id="eighteen_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Seventeens Hit</h2>
		</div>
		<div class="item">
			<div id="seventeen_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Sixteens Hit</h2>
		</div>
		<div class="item">
			<div id="sixteen_percentage_chart"></div>
		</div>
		<div class="item">
			<h2>Average Number of Fifteens Hit</h2>
		</div>
		<div class="item">
			<div id="fifteen_percentage_chart"></div>
		</div>
	</div>
	<footer id="footer">
		<h3>Hope you liked it</h3>
	</footer>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
        var most_bulls_chart = {{most_bulls_JSON | safe}};
		Plotly.plot('most_bulls_chart',most_bulls_chart,{});
		var most_wins_chart = {{most_wins_JSON | safe}};
		Plotly.plot('most_wins_chart',most_wins_chart,{});
		var win_percentage_chart = {{winning_percentage_JSON | safe}};
		Plotly.plot('win_percentage_chart',win_percentage_chart,{});
		var bull_percentage_chart = {{bull_percent_JSON | safe}};
		Plotly.plot('bull_percentage_chart',bull_percentage_chart,{});
		var twenty_percentage_chart = {{twenty_percent_JSON | safe}};
		Plotly.plot('twenty_percentage_chart',twenty_percentage_chart,{});
		var ninteen_percentage_chart = {{ninteen_percent_JSON | safe}};
		Plotly.plot('ninteen_percentage_chart',ninteen_percentage_chart,{});
		var eighteen_percentage_chart = {{eighteen_percent_JSON | safe}};
		Plotly.plot('eighteen_percentage_chart',eighteen_percentage_chart,{});
		var seventeen_percentage_chart = {{seventeen_percent_JSON | safe}};
		Plotly.plot('seventeen_percentage_chart',seventeen_percentage_chart,{});
		var sixteen_percentage_chart = {{sixteen_percent_JSON | safe}};
		Plotly.plot('sixteen_percentage_chart',sixteen_percentage_chart,{});
		var fifteen_percentage_chart = {{fifteen_percent_JSON | safe}};
		Plotly.plot('fifteen_percentage_chart',fifteen_percentage_chart,{});
		window.onresize = function(){
			Plotly.Plots.resize()
		}
	</script>
	</body>
</html>